:root {
    --blue: rgb(10, 81, 181);
    --yellow: rgb(255, 200, 84);
    --text-color: rgb(226, 219, 219);
    --green: rgb(122, 216, 101);
    --red: red;
    --bg-color: rgb(30, 30, 30);
    --purple: rgb(193, 72, 209);
    --magenta: #e52d92;

}